@model ViewModel


<h1>ReportModel</h1>

<form asp-action="Report" method="get" autocomplete="off">
    <div class="row">
        <div class="col-2">
            @await Component.InvokeAsync("Hotels")
        </div>

        <div class="col-10">
            <div class="row">
                <div class="col-2">
                    <label asp-for="Filter.HotelId"></label>
                </div>
                <div class="col-4">
                    <select asp-for="Filter.HotelId" asp-items="Model.Hotels" class="form-control select2">
                        <option value="">All</option>
                    </select>
                </div>
            </div>


            @if (Model.ReportModel != null && Model.ReportModel.Count > 0)
            {
                <table id="datatables" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().CustomerFullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().HotelName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().RoomNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().RoomCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().Star)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().DateOfEntryDisplay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportModel.FirstOrDefault().ReleaseDateDisplay)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ReportModel)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerFullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HotelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Star)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfEntryDisplay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReleaseDateDisplay)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p class=" text-primary">No records found</p>
            }
        </div>

    </div>
</form>

@section Scripts{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(function() {
            $("#datatables").DataTable();
        });
    </script>
}

