@model IEnumerable<FavoriteItemGroupByModel>


@{
    ViewData["Title"] = "Favorite";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-danger" asp-action="ClearFavorite">Clear</a>
</p>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Star)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelCount)
                </td>
                <td>
                    <a asp-action="DeleteFromFavorite" asp-route-hotelId="@item.HotelId">Delete</a>
                </td>
            </tr>
        }

        <tr>
            <td><b>Total</b></td>
            <td>
                @Model.Sum(m=>m.HotelCount)
            </td>
        </tr>
    </tbody>
</table>