@using DataAccess.Enums
@model DataAccess.Entities.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="LastName" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="DateOfBirth" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="DateOfBirth" type="text" class="form-control datepicker" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>

                <input type="radio" asp-for="Gender" value="@((int)Gender.Male)" checked /> @Gender.Male
                <input type="radio" asp-for="Gender" value="@((int)Gender.Women)" /> @Gender.Women

            </div>

            <div class="row mb-3">
                <label asp-for="PhoneNumber" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="IdentificationNo" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="IdentificationNo" class="form-control" />
                    <span asp-validation-for="IdentificationNo" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Email" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Address" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries" id="countryselect">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control cityselect" asp-items="ViewBag.Cities">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HotelIds" class="control-label"></label>
                <select asp-for="HotelIds" class="form-control" asp-items="ViewBag.Hotels" id="hotelselect">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="HotelIds" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label asp-for="RoomIds" class="control-label"></label>
                <select asp-for="RoomIds" class="form-control roomselect" asp-items="ViewBag.Rooms">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="RoomIds" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label asp-for="DateOfEntryDisplay2" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="DateOfEntryDisplay2" type="text" class="form-control datepicker" />
                    <span asp-validation-for="DateOfEntryDisplay2" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="ReleaseDateDisplay2" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="ReleaseDateDisplay2" type="text" class="form-control datepicker" />
                    <span asp-validation-for="ReleaseDateDisplay2" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <div class="offset-2 col-5">
                    <input type="submit" value="Save" class="btn btn-success" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
                    &nbsp;&nbsp;
                    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <link href="/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"> </script>

    <script>
        $(function() {
            $(".datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    <script>
        $(function() {
            $("#countryselect").change(function() {
                $(".cityselect").empty();
                var selectedCountryId = $("#countryselect").val();
                if (selectedCountryId != "") {
                    $.ajax({
                        cache: false,
                        dataType: "json",
                        url: "/Cities/GetJson",
                        data: { countryId: selectedCountryId },
                        type: "get",
                        success: function(cities) {
                            $(".cityselect").append('<option value="">-- Select City --</option>');

                            for (var i = 0; i < cities.length; i++) {
                                $(".cityselect").append('<option value="' + cities[i].id + '">' + cities[i].name + '</option>');
                            }
                        },
                        error: function() {
                            alert("An error occured during AJAX request");
                        }

                    });
                } else {
                    $(".cityselect").append('<option value="">-- Select Country --</option>');
                }
            });
        });
    </script>

   @* <script>
        $(function() {
            $("#hotelselect").change(function() {
                $(".roomselect").empty();
                var selectedHotelId = $("#hotelselect").val();
                if (selectedHotelId != "") {
                    $.ajax({
                        cache: false,
                        dataType: "json",
                        url: "/Rooms/GetJson",
                        data: { hotelId: selectedHotelId },
                        type: "get",
                        success: function(rooms) {
                            console.log(rooms)
                            $(".roomselect").append('<option value="">-- Select Room --</option>');

                            for (var i = 0; i < rooms.length; i++) {
                                $(".roomselect").append('<option value="' + rooms[i].id + '">' + rooms[i].roomno + '</option>');
                            }
                        },
                        error: function() {
                            alert("An error occured during AJAX request");
                        }

                    });
                } else {
                    $(".roomselect").append('<option value="">-- Select Hotel --</option>');
                }
            });
        });
    </script>*@

}



