@model DataAccess.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.DateOfBirthDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.DateOfBirthDisplay)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.GenderDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.GenderDisplay)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.IdentificationNo)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.IdentificationNo)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.CustomerRoomHotelNameDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.CustomerRoomHotelNameDisplay)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.CustomerRoomRoomNoDisplay)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.CustomerRoomRoomNoDisplay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



