@model IEnumerable<DataAccess.Entities.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAndSurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirthDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRoomRoomNoDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRoomHotelNameDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEntryDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDateDisplay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAndSurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirthDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRoomRoomNoDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRoomHotelNameDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>  item.DateOfEntryDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDateDisplay)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
                    <a href="#" class="btn btn-outline-danger" onclick="deleteItem(@item.Id)" title="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>

    <script>
        function deleteItem(id) {
            alertify.confirm("Warning!",
                "Are you sure you want to delete this record ? ",
                        function () { // OK
                    window.location.href = "/Customers/Delete/" + id;
                },
                function () { // Cancel

                }
            ).set('labels', { ok: 'Yes', cancel: 'No' });
        }
    </script>
}



