@model IEnumerable<DataAccess.Entities.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNameDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirthDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderDisplay)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.CustomerDetails.AddressDisplay)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.CustomerDetails.City.Name)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.CustomerDetails.Country.Name)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.CustomerDetails.EmailDisplay)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.CustomerDetails.PhoneNumberDisplay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NameDisplay)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastNameDisplay)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateOfBirthDisplay)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GenderDisplay)
					</td>
                    <td>
						@Html.DisplayFor(modelItem => item.CustomerDetails.AddressDisplay)
					</td>
                      <td>
						@Html.DisplayFor(modelItem => item.CustomerDetails.City.Name)
					</td>
                      <td>
						@Html.DisplayFor(modelItem => item.CustomerDetails.Country.Name)
					</td>
                      <td>
						@Html.DisplayFor(modelItem => item.CustomerDetails.EmailDisplay)
					</td>
                      <td>
						@Html.DisplayFor(modelItem => item.CustomerDetails.PhoneNumberDisplay)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
		}
    </tbody>
</table>



